@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

.head_container {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.welcome {
    margin-top: -100px;
    height: 600px;
    background-image: url(https://i.postimg.cc/Jhx5ZvXj/i-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.games {
  background-color: #259073;
}

.main_container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;  
}

.header_img {
    transition: all .2s;
    margin-right: 0;
    margin-left: 0;
    width: 50px;
    height: 50px;
}

.header_img:hover{
    scale: 1.2;
    margin-right: 20px;
    margin-left: 20px;
}

.header_btns {
    font-size: 16px;
    cursor: pointer;
    gap: 20px;
    display: flex;
    list-style: none;
}

.h_cotainer {
    display: flex;
    align-items: center;
}

.title_text {
    margin-left: 10px;
    color: #259073;
}

a {
    color: antiquewhite;
}
h1 {
    padding: 0;
    margin: 0;
}